body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
     
  }
  /* Same as before */

  .popup-icon {
    position: fixed;
    top: 20px; /* Adjust the top position as needed */
    left: 20px; /* Adjust the left position as needed */
    width: 30px; /* Adjust the width as needed */
    height: 30px; /* Adjust the height as needed */
    cursor: pointer;
  }

.scrollable-content {
    max-height: 600px; /* Adjust the max height as needed */
    overflow-y: auto;
  }
  
  
  .popup {
    display: none;
    position: fixed;
    top: 60px; /* Adjust the top position as needed */
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .popup-content {
    background-color: #fff;
    padding: 20px;
    width: 80%;
    max-width: 1000px;
    margin: 20px auto;
    position: relative;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
  }
  
  .close:hover {
    color: #cc0000;
  }
      /*      */